.book-area {
    height: 100%;
    padding: 5% 20%;
    background-color: #28304B;
}

.book-title {
    margin-bottom: 50px;
}

.book-img {
    width: 120px;
    height: 160px;
}

.book-name {
    padding-top: 10px;
}

.book-author {

}